{{!-- <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container d-flex align-items-center">
    <div>
      <a class="navbar-brand" href="/">
        <strong>Place</strong>Hack
      </a>
    </div>
  </div>
</nav> --}}

<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/"><strong>Yubo</strong></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
            {{!-- <a class="nav-link js-scroll-trigger" href="#">Get me a place</a> --}}
          </li>
          <li class="nav-item">
            {{!-- <a class="nav-link js-scroll-trigger" href="/search-random">Random</a> --}}
          </li>
          <li>
            {{#if currentUser}}
              <a href="/logout" class="btn btn-primary btn-xl">Log out</a>
            {{else}}
              <a id="myBtn2" class="btn btn-primary btn-xl js-scroll-trigger" href="#">Log in</a>
            {{/if}}
          </li>
        </ul>
      </div>
    </div>
  </nav>
