<h1>{{address_components.0.long_name}}</h1>

<img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{photos.0.photo_reference}}&key=AIzaSyCQGV-npN7iOlA_FenddemF-WMEAvFqloc" alt="">